<%- include('partials/header') -%>

  <h1><%= item.title %></h1>
  <% const paras = item.data.split("\r\n") %>

  <% paras.forEach(function(para){ %>
    <p><%= para  %></p>
  <% }) %>

<%- include('partials/footer') -%>
