
body{
  font-family: Montserrat;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.navbar{
  background-color: #D6E4E5;
  padding: 1.25em 0;
}

.navbar-nav{
  margin-right: 8em;
}
 
.nav-link{
  margin-right: 3em;
}

.navbar-brand{
  margin-left: 4em;
  font-size: 1.35em;
}

.reference{
  padding-top: 2em;
  padding-bottom: 1em;
}

.reference i{
  margin: 0 0.75em;
}

.main{
  min-height: 100vh;
  text-align: justify;
  width: 87%;
  margin: 10em auto -8em;
}

.about-us,.contact-us,.home{
  padding-bottom: 5em;
}

.push{
  height: 8em;
}

.footer{
  background-color: #3D8361;
  width: 100%;
  font-size: 1.05em;
  text-align: center;
  height: 8em;
}

.card{
  text-align: justify;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1em 1em;
  height: 100%;
  padding: 2.5em 2.5em;
}

.pagination{
  margin-left: 1.8em;
}

.card:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px grey;
}

.card a:hover{
  transform: scale(0.90);
}
